<div class="animate__animated animate__fadeIn">
    <h3>Buscar por región <small> {{regionActiva | titlecase}}</small></h3>
    <hr>

    <h5>Seleccion la región</h5>

    <div class="row mb-3">
        <div class="col">

            <!-- [class.btn-primary]="region == regionActiva" -->
            <!-- [ngClass]="{
                'btn-primary': regionActiva == region,
                'btn-outline-primary': regionActiva != region
            }" -->
            <button *ngFor="let region of regiones"
                [class]="getClaseCSS(region)"           
                (click)="activarRegion( region )">
                {{region | titlecase}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-pais-tabla *ngIf="paises.length > 0" [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>